.btn {
  display: flex;
  width: 170px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: #1688fe;
  color: #fff;
  font-family: Gilroy-SemiBold , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border: none;
  cursor: pointer;
}
