.profile {
  display: flex;
  grid-template-columns: 75% 25%;
  grid-gap: 16px;
  align-items: stretch;
  width: 100%;

  .form {
    display: grid;
    grid-template-columns: repeat(2, minmax(48%, 1fr));
    gap: 16px 24px;
    grid-column: 1;

    .info {
      grid-column: span 1;
      box-sizing: border-box;
      position: relative;
    }
    .address {
      grid-column: span 2;
    }

    .password {
      grid-column: span 1;
    }

    .badge {
      position: absolute;
      top: 13px;
      right: 12px;
    }
  }

}
